.createSquadToolbar {
  width: 100% !important;
  padding: 0 !important;
  .toolbarTitle {
    width: 100%;
    font-size: 1.8rem !important;
    padding: 0 !important;
    margin-left: -56px;
    text-align: center;
  }
  i {
    color: white !important;
  }
  .menuIcon {
    padding: 1rem !important;
    height: 56px !important;
    width: 56px !important;
    position: fixed;
    z-index: 2
  }
}
.createSquadContainer {
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  .createSquadRow {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: auto;
    .createSqualCol {
      padding: 0 !important;
      .createSquadCard {
        padding: 1rem;
        #requiredVotesToSkip {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        #voteNumber, .enableVote, .hideVideoPlayer {
          margin: 1rem 0;
        }
      }
    }
  }
}
