.bottomToolbarContainer {
  padding: .3rem;
  height: 3rem;
  width: 100%;
  z-index: 100;
  text-align: center;
  color: white !important;
  justify-content: center !important;
  bottom: 0;
  position: fixed;
  i {
    font-size: 2rem;
  }
  .iconButton {
    height: auto;
    width: auto;
    color: white !important;
  }
}
.innerContentContainer {
  height: 100%;
  .innerContentRow {
    height: 100%;
    align-items: center !important;
    .innerContentTopCol {
      padding: 56px 0 !important;
      .cardActions {
        text-align: center;
      }
    }
    .innerContentCol {
      height: 100vh !important;
      padding: 56px 0 !important;
      text-align: center;
      display: flex !important;
      align-items: center !important;
      justify-content: space-between !important;
      .noItemsCard {
        width: 100%;
        & > div {
          padding-bottom: 0 !important;
        }
        #noItemsInPlaylist {
          font-size: 1.5rem;
        }
      }
    }
  }
}
.squadDialog {
  padding-top: 0 !important;
  .dialogBody {
    &::-webkit-scrollbar {
      display: none;
    }
    .dialogResultCol {
      margin-top: 10px;
      .dialogResult {
        cursor: pointer;
      }
    }
  }
  .closeDialogButton {
    color: white !important;
    background-color: red !important;
    &:hover {
      background-color: darkred !important;
    }
  }
}
