.myToolbar {
  width: 100% !important;
  padding: 0 !important;
  .toolbarTitle {
    font-size: 2rem !important;
  }
  span, i {
    color: white !important;
  }
  .menuIcon {
    padding: 1rem !important;
  }
}
