.myToolbar {
  width: 100% !important;
  padding: 0 !important;
  .toolbarTitle {
    width: 100%;
    font-size: 1.8rem !important;
    padding: 0 !important;
    margin-left: -56px;
    text-align: center;
  }
  span, i {
    color: white !important;
  }
  .menuIcon {
    padding: 1rem !important;
    height: 56px !important;
    width: 56px !important;
    position: fixed;
    z-index: 2;
  }
}
.joinSquadContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  .joinSquadRow {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: auto;
    .joinSquadCol {
      padding: 0 !important;
      .joinSquadCard {
        padding: 1rem;
        text-align: left;
        #squadShortID {
          text-align: left;
        }
      }
    }
  }
}
