.mySquadsToolbar {
  width: 100% !important;
  padding: 0 !important;
  .toolbarTitle {
    width: 100%;
    font-size: 1.8rem !important;
    padding: 0 !important;
    margin-left: -56px;
    text-align: center;
  }
  i {
    color: white !important;
  }
  .menuIcon {
    padding: 1rem !important;
    height: 56px !important;
    width: 56px !important;
    position: fixed;
    z-index: 2
  }
}
.mySquadsContainer {
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .mySquadsRow {
    width: 100%;
    text-align: center;
    padding: 0 !important;
    margin: auto;
    .mySquadsCol {
      padding: 0 !important;
      .cardActions {
        display: flex;
        justify-content: center;
      }
      .topLevelCard {
        margin: .5rem 0;
        padding: 1rem;
        text-align: center;
        .topCardHeader {
          padding: 0 !important;
          & > div > span {
            margin: .5rem 0 !important;
            font-size: 1.5rem !important;
            font-weight: bold !important;
          }
          & > div {
            padding: 0 !important;
          }
        }
      }
    }
  }
  .squadCard {
    margin-bottom: .5rem;
    text-align: center;
    &:last-of-type {
      margin-bottom: 0;
    }
    .squadTitle {
      span {
        font-size: 1.2rem !important;
      }
      & > div {
        padding: 0 !important;
      }
    }
  }
}
