.dashToolbar {
  width: 100% !important;
  padding: 0 !important;
  text-align: center;
  .toolbarTitle {
    width: 100%;
    padding-right: 0 !important;
    font-size: 1.8rem !important;
    margin: 0 !important;
  }
  span, i {
    color: white !important;
  }
  .menuIcon {
    padding: 1rem !important;
  }
}
.dashContainer {
  overflow-y: scroll !important;
  align-items: center !important;
  display: flex !important;
  justify-content: center !important;
  padding: 0 !important;
  &::-webkit-scrollbar {
    display: none;
  }
  .dashRow {
    width: 100%;
    text-align: center;
  }
}
.dashIcon {
  font-size: 7rem;
  color: white;
  transition: all .2s ease;
  &:hover {
    transform: scale(1.1);
  }
}
.dashCard {
  background-color: transparent !important;
  padding: 1rem 0 !important;
  > div {
    padding: 0 !important;
  }
  .dashCardTitle {
    padding: 0 !important;
  }
}

@media(min-width:768px){
  .dashIcon {
    font-size: 8rem;
  }
  .dashCardTitle span {
    font-size: 3rem !important;
    margin-bottom: 1rem;
  }
}
@media(min-width:992px){
  .dashCardTitle span {
    font-size: 2rem !important;
  }
}
